/*

My Custom CSS for Popup Box
=============

Author:  Art Aksenovs
Updated: 19 October 2015
Notes:	For Arthem.Info
colors: Blue - #7DB1E6;
Dark Blue: #105b63;
Darker Blue: #4d71d2;
Warm red: #e65b53;
Gray-white;

*/
/* --------------------------------------
   Popup Box
   -------------------------------------- */
#popupBox {
  display: none;
  position: fixed;
  _position: absolute;
  height: 300px;
  width: 600px;
  background: #7DB1E6;
  left: 300px;
  top: 150px;
  z-index: 100;/* on top of others*/
  margin-left: 15px;
    border:4px dotted white;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;
    
}

#container {
    background: #7DB1E6; /*Sample*/
    width:100%;
    height:100%;
    
}
#container, h1 {
  color: white;
  padding-top: 15px;
}

.btn, .btn-danger {
  color: white;
  padding-top: 15px;
}

a{  
cursor: pointer;  
text-decoration:none;  
color: white;
} 

/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}
/* --------------------------------------
   Layout
   -------------------------------------- */
#registration {
  padding-top: 70px;
  background-color: #7DB1E6;
}
#registration p{
  float: right;
  padding-top: 30px;

}
#exampleInputEmail1 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

label{
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: #4d71d2;
}

.list-group-item, .list-group-item.active, a.list-group-item.active{
  padding-top: 30px;
  margin-top: 2px;
     -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.175);
    box-shadow: 0 20px 10px rgba(0,0,0,0.175);
    border-radius: 0px;
    border: 3px solid #4d71d2;
    background-color: #428bca;
    color: white;
}
p.list-group-item.active {
  background-color: #7DB1E6;
  font-size: 24px;
}
/* --------------------------------------
   Typography
   -------------------------------------- */
body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}

.well .page-header {
   margin-top: 0px;
   border-bottom: 3px solid #4d71d2;
}
.well .page-header h1{
   margin-top: 0px;
}

#features {
   -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#featuresHeading h2, h3, p{
   font-family: 'Oswald', sans-serif;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
   .navbar {
   background-color: #7DB1E6;
   height: 60px;
}

 .navbar-nav>.active>a:hover, 
 .navbar-nav>.active>a:focus, .navbar-nav>li>a {
   color: white;
   background-color: #4d71d2;
   font-size: 18px;
   
   font-family: 'Oswald', sans-serif;
   height: 60px;
}

.navbar-nav>.active>a {
background-color: #7DB1E6;

font-family: 'Oswald', sans-serif;
height: 60px;
}   

.form-control {
   margin-left: 30px;
   color: gray;

}

#searchInput {
   width: 200px;
   color: gray;
}


.dropdown-menu {
   position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #7DB1E6;
    border: 1px solid #475182;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.dropdown-toggle {
  background-color: #7DB1E6; 
}
 .btn, .btn-default {
   color: white;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel .item {height: 400px; 
}
.carousel-caption {
   font-size: 24px;
}
.carousel-caption h4 {
   font-size: 32px;
}
#slide1 {
   background: url('../../images/carousel_medium_01.jpg') top center no-repeat
}
#slide2 {
   background: url('../../images/carousel_medium_02.jpg') top center no-repeat
}
#slide3 {
   background: url('../../images/carousel_medium_03.jpg') top center no-repeat
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
   display: none;
}

/* --------------------------------------
   CallOut Section
   -------------------------------------- */
.well {
   margin-top: 20px;
   min-width: 200px;
   max-width: 1180px;
   background-color: #7DB1E6;
   -webkit-box-shadow: -9px -7px 24px -8px rgba(0,0,0,0.75);
   -moz-box-shadow: -9px -7px 24px -8px rgba(0,0,0,0.75);
   box-shadow: -9px -7px 24px -8px rgba(0,0,0,0.75);
border: 0px;
font-family: 'Oswald', sans-serif;
vertical-align: middle;;
}

.well h1 {
   font-family: 'Oswald', sans-serif;
}
.btn-danger {
background-color: #e65b53;
border: 0 4 0 0;
border-style: solid;
}

#successAlert, #successAlert h4 {
   background-color: #e65b53;
   color: white;
   margin-top: 20px;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
}
#successAlert .btn-default {
   background-color: red;
   color: white;

}

/* --------------------------------------
   SideBar
   -------------------------------------- */
.col-4 {
   font-family: 'Oswald', sans-serif;
   font-size: 18px;
}

.nav-stacked {
   -webkit-box-shadow: -9px -7px 24px -8px rgba(0,0,0,0.75);
   -moz-box-shadow: -9px -7px 24px -8px rgba(0,0,0,0.75);
   box-shadow: -9px -7px 24px -8px rgba(0,0,0,0.75);
}
/* --------------------------------------
   Main Content
   -------------------------------------- */

#mainContent p{
   font-family: 'Arial', sans-serif;
   font-size: 14px;
   padding-left: 15px;
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}

/* --------------------------------------
   Footer
   -------------------------------------- */
   footer {
      background-color: #4d71d2;
   }

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
   .carousel-caption {
   font-size: 14px;
}
.carousel-caption h4 {
   font-size: 18px;
}
#mainContent p{
   -webkit-column-count: 1; /* Chrome, Safari, Opera */
   -moz-column-count: 1; /* Firefox */
   column-count: 1;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   .carousel-caption {
   font-size: 16px;
}
.carousel-caption h4 {
   font-size: 20px;
}

	#myCarousel .item {height: 310px; 
margin-top: 20px;}
#slide1 {
   background: url('../../images/carousel_small_01.jpg') top center no-repeat
}
#slide2 {
   background: url('../../images/carousel_small_02.jpg') top center no-repeat
}
#slide3 {
   background: url('../../images/carousel_small_03.jpg') top center no-repeat
}
.form-control {
   margin-left: 30px;
}
}

/* Large desktop */
@media (min-width: 1200px) {
   .form-control {
   margin-left: 30px;
}
#myCarousel .item {height: 500px; 
margin-top: 20px;}
#slide1 {
   background: url('../../images/carousel_large_01.jpg') top center no-repeat
}
#slide2 {
   background: url('../../images/carousel_large_02.jpg') top center no-repeat
}
#slide3 {
   background: url('../../images/carousel_large_03.jpg') top center no-repeat
}
	
}
